<!DOCTYPE html>
<html
  data-bs-theme="light"
  lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Home - Stuff Search</title>
    <link
      rel="stylesheet"
      href="assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/styles.min.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-md sticky-top py-3 navbar-dark"
      id="mainNav">
      <div class="container">
        <a
          class="navbar-brand d-flex align-items-center"
          href="/"
          ><img src="/assets/img/logo.webp" /><span style="margin-left: 15px"
            >Stuff Search</span
          ></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1">
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navcol-1">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                hx-get="/page/search"
                hx-target="#page-content"
                >Search</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                hx-get="/container/1"
                hx-target="#page-content"
                >Containers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#"
                >Log</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      id="page-content"
      hx-get="/page/search"
      hx-trigger="load"></div>
    <div
      class="modal fade modal-blur"
      role="dialog"
      tabindex="-1"
      id="modals-here"
      aria-hidden="false">
      <div
        class="modal-dialog modal-lg modal-dialog-centered"
        role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
  </body>
</html>
